extends layout

block nav-links
    li.nav-item
        a.nav-link(href='/')
            span Home
    li.nav-item.active
        a.nav-link(href='#')
            span About
    li.nav-item
        a.nav-link(href='#')
            span CV
    li.nav-item
        a.nav-link(href='https://git.pastel.codes/Blankie')
            span Projects
    li.nav-item
        a.nav-link(href='https://blog.pastel.codes')
            span Blog
    li.nav-item
        a.nav-link(href='/contact')
            span Contact

block content
    .container
        .about-pos
            .row
                .col
                    h1
                        span Hello.
                    p I’m Esther, a 19 year old student in 2nd year of university, who studies computer science & artificial intelligence.
                    p In my free time, I create small projects to learn new skills to be helpful for others, recently i have been focusing on node.js.
                    p Graphic design is also very fun and i enjoy making small projects to post on instagram, it helps with programming too which is neat
            .row
                .col.start
                    h1
                        span Projects.
            .row

                each val in project
                    .col
                        .pr
                            a(href=val.url)
                                if val.feature_image
                                    img(src=val.feature_image)
                                else
                                    img(src="/images/logo.png")
                        .pr-text
                            a(href=val.url)
                                h1 #{val.title}
                            p #{val.excerpt}

            .row
                .col.start
                    h1
                        span Blog.
            .row
                each val in blog
                    .col
                        .pr
                            a(href=val.url)
                                if val.feature_image
                                    img(src=val.feature_image)
                                else
                                    img(src="/images/logo.png")
                        .pr-text
                            a(href=val.url)
                                h1 #{val.title}
                            p #{val.excerpt}