extends layout

block nav-links
    a(href='/')
        li(class="py-3 bg-pink text-black hover:bg-black hover:text-pink transition duration-500 ease-in-out")
            span Home
    a(href='#')
        li(class="py-3 bg-black text-green hover:bg-pink hover:text-black transition duration-500 ease-in-out") 
            span About
    a(href='https://github.com/aurora-dot')
        li(class="py-3 bg-pink text-black hover:bg-black hover:text-pink transition duration-500 ease-in-out")
            span Projects
    a(href='https://blog.pastel.codes')
        li(class="py-3 bg-pink text-black hover:bg-black hover:text-pink transition duration-500 ease-in-out")
            span Blog
    a(href='/contact')
        li(class="py-3 bg-pink text-black hover:bg-black hover:text-pink transition duration-500 ease-in-out")
            span Contact



block content
    div.mt-5
            div.text-lg
                h1.font-sans.text-6xl.wavy.mb-10 Hello.
                p.mb-5 I’m E, a 23 year year old full stack developer with three years experience, located in the UK.
                p.mb-5 Currently I'm working at Bounce Technologies working on various projects using various languages.
                p.mb-5 I also do UI, UX and DevOps! Currently learning Go and adjusting to TypeScript.
                p.mb-5 I create digital art and electronic music-making, additionally in my free time, I play experimental and artistic video games.
            
            if project
                div
                    h1.font-sans.text-6xl.wavy.my-10 Projects.
                
                div
                    each val in project
                        div(class="mb-10 text-center sm:text-left")
                            div.contents
                                a(href=val.url).contents
                                    if val.feature_image
                                        img(class="sm:w-2/3 mx-auto sm:mx-0" src=val.feature_image)
                                    else
                                        img(src="/images/logo.png")
                            div.mt-2
                                a(href=val.url)
                                    span(class="font-sans text-2xl sm:text-3xl mt-3 mb-3") #{val.title}
                                p.text-lg #{val.excerpt}

            if blog
                div
                    h1.font-sans.text-6xl.wavy.my-10 Blog.
                div
                    each val in blog
                        div(class="mb-10 text-center sm:text-left")
                            div.contents
                                a(href=val.url).contents
                                    if val.feature_image
                                        img(class="sm:w-2/3 mx-auto sm:mx-0" src=val.feature_image)
                                    else
                                        img(src="/images/logo.png")
                            div.mt-2
                                a(href=val.url)
                                    span(class="font-sans text-2xl sm:text-3xl mt-3 mb-3") #{val.title}
                                p.text-lg #{val.excerpt}
